div{
    font-size: larger;
    font-weight: bolder;
    text-align: center;
    /* border: 1px solid; */
    justify-content: center;
}

*{
    box-sizing: border-box;
}



body{
    width: 480px;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
}